.all_page{
    color: lightsalmon;
    background:grey;
}

.container{
    margin-bottom:35px;
}

.card{
    background-color: lightsalmon;
}body{
    background-color: lightsteelblue;
}
table{
    Background-color: lightsalmon;
    
}